<div appBox style="background-color: bisque;">
    <p class="heading">About Me</p>
    <p class="sub">Here you will find more information about me.</p>
    <div class="descriptionbox">
        <div class="dBoxOne">
            <h5>Get to know me</h5>
            <div class="para">
                <p >I enjoy creating things that live on the internet.
                    My interest in web development started back in 2022
                     when I accidently jump in inspect section of browser.</p>
                   <p >Fast-forward to the when I finally decided to become a <b>Fullstack Developer</b> in order to build Websites and Web application that leads to the success of the overall products.Check out some of my projects im my <b>Project</b> section. </p>
                   <p >I also like sharing content related to the stuff that i have learned over a year in <b>Web Development</b>.
                   you can connect or follow me on my <a style="text-decoration: underline;color: crimson;">Linkedin</a>.</p>
            </div>
           
        </div>
        <div class="dBoxTwo">
            <h5>My Skills</h5>
            <div class="skills">
                <span >HTML5</span>
                <span>CSS3</span>
                <span>BOOTSTRAP</span>
                <span>JAVASCRIPT</span>
                <span>ANGULAR12+</span>
                <span>GIT</span>
                <span>EXPRESS JS</span>
                <span>MONGO DB basic</span>
                <span>NODE JS</span>
            </div>
        
        </div>


    </div>
</div>
